body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.chart {
  max-width: 800px;
}


.dropDown{
  margin-right: 90px; 
  width: 100px;
  max-width: 800px;
  height: 18px;
  color:black;
  cursor: pointer;
  border:0.5px solid white;   
  -moz-box-shadow: 0 0 5px rgb(228, 228, 228);
  -webkit-box-shadow: 0 0 5px rgb(219, 218, 218);
  box-shadow: 0 0 5px rgb(209, 208, 208); 
  outline: none;
}

.dropDown:hover{
  visibility: visible;
  opacity: 1;
  display: block;
  cursor: pointer;
  color: rgb(184, 36, 36);
  outline: none;
}
